.image-container {
  display: inline-block;
  width: 33%; }
  .image-container img {
    display: block;
    padding: 5px;
    margin: 0 auto; }

.modal-wrapper {
  display: table; }
  .modal-wrapper .modal-photo,
  .modal-wrapper .user-info {
    display: table-cell;
    vertical-align: top; }
  .modal-wrapper .user-info {
    padding: 10px 10px 0 10px; }
    .modal-wrapper .user-info img {
      border-radius: 50%; }
    .modal-wrapper .user-info .name {
      display: inline-block; }
    .modal-wrapper .user-info .bio {
      display: block;
      margin-top: 10px; }

.popup-content {
  padding: 0 !important;
  border: none !important; }
